h1{
    color: black;
    padding: 30px;
}
.header{
    border:solid;
    background-color: rgb(79, 176, 145);
    display:flex;
    justify-content: space-between;
    padding-left: 100px;
}
.header a{
    border: 0px;
    padding-right: 50px;
    padding-top: 30px;
    color: #000000;
}
.grid{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 10px;
}
.item{
    position:relative;
    padding-bottom: 30px;
}
.item img{
    border-radius: 20px;
}
.footer{
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
}
.footer a{
    margin: 5px;
    border-radius: 10px;
}
p, h2{
    text-align: center;
    color: rgb(79, 176, 145)
}
body{
    background-color: #000000;
}
.menu{
    margin-top: 50px;
    font-size: 20px;
}
a:link{
    color: white;
}
a:visited{
    color: purple;
}
.item p{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    opacity:0;
}
.item:hover p{
    opacity:1;
}
.item:hover img{
    opacity:0.33;
}